.card1 {
    background-image: url(../src/components/img/Day-Planner.png);
}

/* .card2 {
    background-image: url(../public/img/citySearched.png);
    margin-bottom: 10px;
}

.card3 {
    background-image: url(../public/img/citySearched.png);
}

.card4 {
    background-image: url(../public/img/citySearched.png);
}

.card5 {
    background-image: url(../public/img/citySearched.png);
}

.card6 {
    background-image: url(../public/img/citySearched.png);
} */

