/* header */
#name{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 5px solid orange
}

/* About me */
#aboutme {
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color: rgb(177, 226, 152);
}

/* contacts */
#contacts{
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color: rgb(177, 226, 152);
}